{% extends 'base/base.html' %}
{% block content %}
<div class="">
  <div class="card">
    <div class="card-heade">
      <h2 class="card-title m-3">Ajouter un employé</h2>
    </div>
    <div class="card-body">
      {% if messages %}
      <div class="mt-2">
        {% for message in messages %}
        <div class="alert 
          {% if message.tags == 'success' %}alert-success
          {% elif message.tags == 'error' %}alert-danger
          {% else %}alert-info{% endif %} 
          alert-dismissible fade show" role="alert">
          {{ message }}
          <button type="button" class="btn-close" data-bs-dismiss="alert"></button>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      <form method="post">
        {% csrf_token %}
        <h5>Informations utilisateur</h5>
        {{ user_form.as_p }}

        <h5>Informations employé</h5>
        {{ employee_form.as_p }}

        <button type="submit" class="btn btn-success">Enregistrer</button>
        <a href="{% url 'employees:manage_employees' %}" class="btn btn-secondary">Annuler</a>
      </form>


    </div>
  </div>


</div>
{% endblock %}